{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'bike.jpg'%}">
    </a>
    <h1>Los Angeles Bike Share Data Analysis</h1>
    <p>This site uses various Python libraries and Google APIs to
       analyze recent data from an LA bikeshare network. The data is availible
       <a href="https://s3.amazonaws.com/mindsumo/public/capital-one/los-angeles-metro-bike-share-trip-data.zip">here</a>
       for further analysis. Click on the charts to learn more!
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">

      <div onclick="myFunction('myModal')" onclick="myFunction('myModal')">
        <h3><span class="glyphicon glyphicon-info-sign"></span> Data Visuals: Ride Duration</h3>
        <img src="{% static 'histogram.png'%}" width=80% height=80%>

          <div id="myModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <p>
                The dataset provides information about the duration of each ride in seconds.
                The code translates this data into minutes then plots the frequency of the rides
                lengths. While the average ride lasts 25.92 minutes, a better indicator of the
                average, the median, hovers around 15 minutes.
              </p>
              <img src="{% static 'duration_code.png'%}" width=50% height=50%>
          </div>
        </div>
      </div>

      <div onclick="myFunction('myModal2')" onclick="myFunction('myModal2')">
        <h3><span class="glyphicon glyphicon-info-sign"></span> Average distance (km) traveled?</h3>
        <img src="{% static 'ride_length.png'%}" width=80% height=80%>

        <div id="myModal2" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <p>
              The dataset provides information about the length of each ride.
              his histogram shows the distribution of the durations of the rides in km.
            </p>
            <img src="{% static 'length_code.png'%}" width=50% height=50%>
        </div>
      </div>


      </div>
    </div>
    <div class="col-md-6">
      <div onclick="myFunction('myModal3')" onclick="myFunction('myModal3')">
        <h3><span class="glyphicon glyphicon-info-sign"></span> Data Visulization: Membership Types</h3>
        <img src="{% static 'membership_pie_chart.png'%}" width=80% height=80%>


        <div id="myModal3" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <p>
              The dataset provides information about the length of each ride.
              his histogram shows the distribution of the durations of the rides in km.
            </p>
            <img src="{% static 'piechart_code.png'%}" width=50% height=50%>
          </div>
        </div>
      </div>



      <div onclick="myFunction('myModal4')" onclick="myFunction('myModal4')">
        <h3><span class="glyphicon glyphicon-info-sign"></span> Data Visulization: Days of the Week</h3>
        <img src="{% static 'weekday.png'%}" width=80% height=80%>


        <div id="myModal4" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <p>
              The dataset provides information about the length of each ride.
              his histogram shows the distribution of the durations of the rides in km.
            </p>
            <img src="{% static 'weekday_code.png'%}" width=50% height=50%>
          </div>
        </div>



        <p id="days" style="display:none;">The dataset provides information about the length of each ride. This histogram shows the distribution of the durations of the rides in km.</p>
      </div>

    </div>
    <div class="col-md-6">
    </div>
    <h3 align= "center" style="width:100%; align:center;"><span class="glyphicon glyphicon-info-sign"></span> Which start and stop stations are most popular?</h3>
      <div id="map" onload="initMap()"></div>
  </div> <!-- row -->
</div>

{% endblock %}
